@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: Asap, sans-serif;
	color: white;
}

body{
	background-color: #292C34;
}

header{
	height: 60px;
	text-align: center;
	padding: 25px;
	background-color: #24559A;
}

.logo-heading{
	font-size: 50px;
	color: white;
	display: inline;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 10px;
	transition: all 0.3s ease;
	background-color: #77AAF3;
	transition: all 0.7s ease;
}

.logo-heading:hover{
	background-color: white;
	color: #77AAF3;
}

.container-main{
	margin: 0 auto;
	width: 70%;
	margin-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
	border-radius: 10px;
	border: 3px solid #000;
	margin-bottom: 50px;
	box-shadow: 1px 1px 6px #000;
	background-color: grey;
}

.container-main .image{
	text-align: center;
	margin-bottom: 20px;
}

.container-main .image img{
	height: 430px;
	width: 75%;
	margin-top: 20px;
	border-radius: 10px;
	transition: all 0.6s ease;
}

.container-main .image img:hover{
	height: 600px;
	width: 90%;
	margin-top: 20px;
	border-radius: 10px;
}

.container-main .text p{
	font-size: 24px;
	margin-bottom: 10px;
	padding: 15px;
	background-color: #292C34;
	border: 1px solid rgba(0,0,0,0.6);
	box-shadow: 1px 1px 6px rgba(0,0,0,0.6);
	border-radius: 10px;
	transition: all 0.6s ease;
}

.container-main .text p:hover{
	font-size: 30px;
	color: white;
	margin-bottom: 10px;
	padding: 15px;
	border: 2px solid rgba(0,0,0,0.6);
	box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
	border-radius: 10px;
}

button{
	background-color: white;
	color: #292C34;
	font-size: 26px;
	padding:20px;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: Asap;
	font-weight: bold;
	border:none;
	box-shadow: none;
	outline: none;
	transition: all 0.3s ease;
}

button:hover{
	height: 70px;
	width: 280px;
	background-color: #3BA12C;
	color: white;
	font-size: 30px;
	box-shadow: 2px 2px 0px #19750A;
}

.link{
	text-decoration: underline;
}

footer{
	text-align: center;
	margin: 30px;
}

